
<section class="cmspage mtb-40">
  <div class="container">
    <h1>About</h1>
    <div class="page-desc">
      <p>
        <b><i>AMRESH CHANDRA JHA</i></b> is a name among millions who struggled, failed and surged ahead in search of success, happiness and contentment. Just like any other middle class guy, he too had a bunch of unclear dreams and a blurred vision of his goals in life. All he had was an undying learning attitude to hold on to. Rowing through ups and downs, it was time that taught him the true meaning of his life.

And once discovered, he consistently kept resigning from his comfort zone and to share the secret of his success with the entire world. It is this very urge of helping people and doing something good for the society that inspired him to take the initiative of changing people's lives in the form of "Free Life-Changing Seminars and Sessions".

No wonder people connect with him and his mission of 'Sharing' is now being actively propagated and practiced by millions. It is his diligent focus, the great support of his family and the faith of his team that keeps him going.
      </p>
    </div>
  </div>
</section>
