
<section class="blog-detail mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-left">
          <h1>Sample blog post 1</h1>
          <div class="posted-on">
              <p>by <span>AmReSh</span> on <span>DECEMBER 18,2019</span></p>
          </div>
          <div class="detail-img">
             <img src="assets/images/img1.jpg" alt="blog1" />
          </div>
          <div class="blog-desc">
            <p>पढ़ने वाला सोचता है
सोचने वाला पूछता है
पूछने वाला देखता है
देखने वाला समझता है
समझने वाला पढ़ता है

पढ़ो ही मत
सोचो ही मत
पूछो ही मत
देखो ही मत
समझो ही मत

बस, भक्ति में मस्त रहो

बाकी हम देख लेंगे!</p>
            <p>पढ़ने वाला सोचता है
सोचने वाला पूछता है
पूछने वाला देखता है
देखने वाला समझता है
समझने वाला पढ़ता है

पढ़ो ही मत
सोचो ही मत
पूछो ही मत
देखो ही मत
समझो ही मत

बस, भक्ति में मस्त रहो

बाकी हम देख लेंगे!</p>
<p>
  कौन किसी को बाँध सका
सय्याद तो एक दीवाना है
तोड़ के पिंजरा एक न एक
दिन पंछी को उड़ जाना है

अंगड़ाई ले कर के
जागी है नौजवानि
सपने नए हैं और
ज़ंजीर है पुरानी
पहरेदार फांके से
बरसो राम धड़ाके से
होशियार भाई सब होशियार
रात अँधेरी रुत बरखा
और ग़ाफ़िल सारा ज़माना है
</p>
<p>
  कौन किसी को बाँध सका
सय्याद तो एक दीवाना है
तोड़ के पिंजरा एक न एक
दिन पंछी को उड़ जाना है

अंगड़ाई ले कर के
जागी है नौजवानि
सपने नए हैं और
ज़ंजीर है पुरानी
पहरेदार फांके से
बरसो राम धड़ाके से
होशियार भाई सब होशियार
रात अँधेरी रुत बरखा
और ग़ाफ़िल सारा ज़माना है
</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <app-blogpost-recent></app-blogpost-recent>
        <app-categories></app-categories>
      </div>
    </div>
  </div>
</section>
