<section class="banner">
  <div class="banner-box">
    <div class="intro-text">
      <div class="intro-text-box">
        <h3>If you had a chance, what would you like to ask Narendra Modi?</h3>
        <p>
          करोड़ों युवा बेकार शिक्षा और खोखली व्यवस्था से परेशान सड़कों पर भटक रहे हैं, बिना नौकरी।
          संख्या बढ़ती जा रही।
          कोई ठोस योजना नहीं इस डेमोग्राफिक डिविडेंड को भुनाने की।
          लेकिन दूसरे देशों की चिंता है अभी। वहां के लोगों को बसायेंगे भले अपने वाले न बस पाए जीवन में।
        </p>
      </div>
    </div>
    <img src="assets/images/banner.jpg" alt="banner" />
  </div>
</section>
